body {
    padding: 0;
    margin: 0;
}

.header-content {
    display: flex;
    border-bottom: 3px dashed lightblue;
    justify-content: space-around;
    padding: 0 16px;
}

.header-content__logo-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
}

.header-content__logo {
    width: 64px;
    height: 64px;
    padding-right: .5rem;
}

.header-content__title {
    width: 50px;
    font-size: 25px;
    color: black;
}

.header-content__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 60%;
}

.header-content__list-item {
    float:left;
    list-style-type: none;
    padding-right: 2rem;
}

.header-content__link {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 15pt;
}

.header-content__link:hover {
    color: lightblue;
    transition: color .5s;
}
